.filter {
	@include flex(space-between, center, row);
	ul {
		@include flex(space-between, center, row);
		padding: 0px 10px;
		background-color: $c-tertiary;
		position: relative;
		overflow-x: auto;
		margin: 0;
		margin-top: -52px;
		height: 60px;
		.type-filter {
			padding: 1px 15px; 
			transition: all 0.2s ease-in-out;
			&--active {
				transform: scale(.8, .8);
			}
		}
	}
	#left-control,
	#right-control {
		position: relative;
		z-index: 99999;
		height: 100%;
		width: 35px;
		padding: 0px 10px;
		background-color: $c-tertiary;
		margin-top: -52px;
		height: 60px;
		@include flex(center, center, row);
	}

	#left-control {
		left: 0px;
	}

	#right-control {
		right: 0px;
	}

	.control-image {
		width: 20px;
	}
}